.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height:10%;
    padding:15px 0;
    background-color:grey;
    color:white;
    text-align:center;
    border-top:15px solid lightblue;
}

.nav-home {
    background-color: lightblue;
}